@mixin fade-in-out {
  [data-scroll] {
    transition: opacity 1s;
  }
  [data-scroll="in"] {
    opacity: 1;
  }
  [data-scroll="out"] {
    opacity: 0;
  }
}
@mixin line-clamp($nth-of-lines) {
  display: -webkit-box;
  -webkit-line-clamp: $nth-of-lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
